/*  
==================================================
    Default values 
    
    Font family: Roboto Condensed
    
    Greenish Blue : #34c6d3
    Steel Gray    : #41464b
    Blue Boyoux   : #64707b
==================================================
*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}


/* General Styles*/

h3 {
    color: #41464b;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px;
    font-weight: 400;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-box {
    /*    min-height: 700px;*/
    padding: 60px 0 60px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.contnet-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 10px;
}

.social-icon i {
    font-size: 20px;
}

.icon-gray i {
    color: #64707b;
}

.icon-gray i:hover {
    color: #34c6d3;
}

.icon-white i {
    color: #fff;
}

.icon-white i:hover {
    color: #34c6d3;
}

/* Navigation */

.navbar {
    padding: 5px 80px;
}

.navbar a.navbar-brand {
    padding: 0 15px;
}

.nav-menu-bar {
    background-color: rgba(0,0,0,0.7);
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: none;
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #fff;
    border-radius: 
}

#nav-menu-items {
    padding: 15px 0;
    float: right;
}

/* Home */

#home {
    height: 100%;
}

.home-pattern {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    opacity: 0.2;
}

#home-cover {
    height: 100%;
    background-image: url("../img/slide1.jpg");
    display: flex;
    align-items: center;
    animation-delay: .1s;
    animation-duration: .5s;
}

#home-content-box {
    margin: 0 auto;
    text-align: center;
}

#home-content-box h3 {
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    animation-delay: .5s;
    animation-direction: .5s;
}

#home-content-box a {
    animation-delay: .1s;
    animation-direction: .5s;
}


/* Services */

.service-item {
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 20px;
}

.service-item:hover i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item p {
    margin: 0;
    padding-left: 25px;
}


/* About */

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../img/slide2.jpg");
    border-top: 700px solid transparent;
    border-left: 200px solid white
}

#about-content-box {
    float: left;
    height: 700px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


/* WORK */

.row.no-gutter [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}


/* Team */

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}


/* Testimonials */

#testimonials-cover {
    background-image: url("../img/computer.jpg");
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.5);
}

#customer-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 250px;
    margin: 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}


/* Pricing */

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    background-color: #34c6d3;
    margin: 0;
    padding: 90px 0;
}

.pricing-box-lg h4.pricing-title {
    background-color: #fff;
    color: #34c6d3;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #fff;
}

/* Stats */

#stats-cover {
    background-image: url("../img/computer.jpg");
}

#stats .content-box {
    background-color: rgba(0,0,0,0.6);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0px;
}

/* Clients */
.client {
    padding: 40px 20px;
    height: 250px;
    display: flex;
    align-items: center;
}

/* Contact */
footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h3, #contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-info {
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

/* Footer */
#footer-bottom {
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}
